.container {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 0px;
}

.logo {
width: 22%;
height: auto;
max-width: 600px;
margin-left: 5%;
margin-right: 5%;
}
table {
    width: 100%;
  }

  .imagen_List{
    height: 50px;
}